/* ----------------------------------------

Styles for Media Queries Practice Exercise
Author: Your Name Here 

----------------------------------------- */

.row {
    display: flex;
    max-width: 100%;
}

.box1 {
    width: 100%;
    background-color: aqua;
}